.zen-resources {
  background-color: $color-6;
  padding: 3.5rem;
  border-radius: 30px;
  font-family: $primary-font;
  margin-top: 3rem;
  line-height: 1.5em;
  margin-bottom: 4rem;

  h3 {
    font-size: 1.3em;
    color: $color-3;
    margin-bottom: 3rem;
  }

  a:link,
  a:visited,
  a:active {
    color: $color-1;
  }

  a:hover {
    text-decoration: underline;
  }
}
