//variables to setup basic size and shape of the card and pips
$card-width: 40vw;
$card-height: $card-width * 1.4;
$font-size-number: $card-width * 0.1;
$icon-size: $card-width / 5;

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//styles to draw a basic outline of a card
.card {
    border: 1px solid grey;
    height: $card-height;
    width: $card-width;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 4px grey;
}

//because it is a card front we want a bit of extra padding
.card-front {
    padding: 0.5em;
}

//set icon size
.icon {
    width: $icon-size;
    height: $icon-size;
}

.number {
    text-align: center;
    font-size: $font-size-number;
    //an icon that is part of a number should be half the normal size
    & > .icon {
        width: $icon-size * 0.5;
        height: $icon-size * 0.5;
    }
}

//rotate bottom pips 180deg
.rotate {
    transform: rotate(180deg);
}

// grid
.row {
    height: 100%;
    display: grid;
    grid-template-columns: 14% 24% 24% 24% 14%;

    :nth-child(3) {
        grid-column: 4 / 5;
    }

    :nth-child(4) {
        grid-column: 1 / -1;
    }

    :nth-child(5),
    :nth-child(7) {
        grid-column: 2 / 3;
    }

    :nth-child(6),
    :nth-child(8) {
        grid-column: 4 / 5;
    }

    .cell {
        align-self: center;
        justify-self: center;
    }
}

// flexbox
@supports not (display: grid) {

    // All of your flexbox SCSS code here.
    .row {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        text-align: center;
    }

    .cell {
        flex: 0 0 25%;

        &.number {
            flex: 0 0 12.5%;
        }

        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(8) {
            margin-left: 25%;
        }

        &:nth-child(4) {
            flex: 0 0 100%;
        }

        &:nth-child(5),
        &:nth-child(7) {
            margin-left: 12.5%;
        }
    }
}
